<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout/layout.html}">
<head>
    <title>프로필</title>
    <style>
        .profile-img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 10%;
        }
    </style>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <h1>프로필</h1>
        <div>
            <img class="profile-img" th:src="@{${memberContext.profileImgUrl}}">
            <div>
                <span th:text="|아이디: ${memberContext.username}|"></span>
            </div>
            <div>
                <span th:text="|이메일: ${memberContext.email}|"></span>
            </div>
        </div>
    </div>
</section>
</body>
</html>