<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout/layout.html}">
<head>
  <title>글 상세 페이지</title>
</head>
<body>
<section layout:fragment="content">
  <div class="container">
    <h1>글 상세 페이지</h1>
    <div>
      작성일 : [[${article.createDate}]]
    </div>

    <div>
      수정일 : [[${article.modifyDate}]]
    </div>

    <div>
      작성자 : [[${article.member.username}]]
    </div>

    <div>
      제목 : [[${article.subject}]]
    </div>

    <div>
      내용 : [[${article.content}]]
    </div>

    <div th:each="entry : ${article.extra.genFileMap}">
      <hr>
      <img th:src="@{${entry.value.url}}" alt="게시물 이미지" width="200" height="200">
    </div>
  </div>
</section>
</body>
</html>